%form{action: post_comments_path(@post), method: "post"}
  %input{type: "hidden", name: "authenticity_token", value: form_authenticity_token}
  .field
    - if cookies[:theme] == "dark"
      %label.label.has-text-white Tu comentario
    - else
      %label.label Tu comentario
    .control
      %textarea.textarea.is-small{name: "comment[content]", placeholder: "Escribe tu comentario"}
  .field 
    .control 
      %button.button.is-danger Enviar comentario
