%article.message.is-danger.mt-4
  .message-header
    %p 404
  .message-body
    %h1.size-1 P치gina no encontrada
    %p
      = "Lo sentimos,"
      %strong la p치gina que est치s buscando no existe.
    = link_to(image_tag( asset_path '404-error-page-2952323-2451625.png'), href="/")
    %p
      = "Volver a la"
      %a{ href: root_path } p치gina principal
