- flash.each do |key, value|
  %div(class="#{flash_class(key)} fade in pv4 notice")
    %h4.title.is-5= value

%script{:src => "https://code.jquery.com/jquery-3.6.0.min.js"}
:javascript
  document.addEventListener('DOMContentLoaded', function() {
    var noticeElement = document.querySelector('.notice');
    if (noticeElement) {
      setTimeout(function() {
        noticeElement.style.display = 'none';
      }, 1111);
    }
  })
